*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid black; */
}
:root {
  --header: #402c2c;
  --main: #746565;
  --highlighted: #849070;
}
html {
  background-color: var(--main);
  font-family: "A-OTF Shin Go Pro R";
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  caret-color: transparent;
  overflow-x: hidden;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}

@font-face {
  font-family: "A-OTF Shin Go Pro R";
  font-style: normal;
  font-weight: normal;
  src: local("A-OTF Shin Go Pro R"),
    url("AOTFShinGoProRegular.woff") format("woff");
}
@font-face {
  font-family: "A-OTF Shin Go Pro L";
  font-style: normal;
  font-weight: normal;
  src: local("A-OTF Shin Go Pro L"),
    url("AOTFShinGoProLight.woff") format("woff");
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: initial;
}
.btnShadow {
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(50, 50, 50, 1);
  transition: box-shadow 0.1s;
}
.btnShadow:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(50, 50, 50, 0.5);
}
.btnShadow:active {
  transform: translate3d(0.5px, 1px, 0);
}
/* ---------------------------------------------------- */
#newShowBtn {
  height: 10rem;
  width: 20rem;
  border-radius: 28px;
  font-size: 4rem;
  font-family: oswald;
  margin: 4rem 0;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-width: 100vw;
  /*This is important for flex-based bottom footer*/
}

#header {
  background-color: var(--header);
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 2rem;
  margin: auto;
}

#header2 {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

#library {
  background-color: var(--main);
  display: grid;
  flex-grow: 1;
  width: 94vw;
  gap: 8rem 6rem;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
}

#footer {
  margin-top: auto;
  padding-top: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.card {
  border-radius: 8px;
  border: 2px solid black;
  background-color: #9b9797;
  /* height: 180px; */
  height: 750px;
  /* width: clamp(440px, 100%, 520px); */
  width: 445px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  font-size: larger;
  letter-spacing: 1px;
}
.title {
  font-size: xx-large;
  line-height: 1.3;
  overflow: ellipsis;
}
.card[data-complete="Complete"] {
  background-color: var(--highlighted);
  order: 1;
}
.card[data-complete="Ongoing"] {
  order: 2;
}
.card p p{
  cursor: pointer;
}
.card img {
  max-height: 550px;
  width: 440px;
  aspect-ratio: 0.675;
  border-radius: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: 2px solid black;
  object-fit: cover;
}
em {
  cursor: pointer;
}
/*------------------------------------------*/
/*--Modal Dialog--*/
dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  /*Transform function above*/
  /*Other properties below*/
  width: 80%;
  min-width: 394px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.4s ease;
}

dialog * {outline: 1px solid pink;}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
/* Note: this will exhibit strange position behavior unless you force reload */
dialog[open] {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
dialog:not([open]) {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*------------*/
dialog img:nth-child(1) {
  position: absolute;
  top: 8px;
  right: 8px;
  width: clamp(50px, 9%, 80px);
}
dialog img:nth-child(1):active {
  transform: translate3d(1px, 1px, 0);
}
dialog img:nth-child(2) {
  width: clamp(256px, 40%, 320px);
  height: 450px;
  object-fit: contain;
}
dialog h2 {
  /* font-size: calc(3rem + 1vw); */
  line-height: 110%;
  align-self: center;
  text-align: center;
}
dialog form {
  margin: 0 1rem;
}
dialog form * {
  /* font-size: calc(1.5rem + 0.8vw); */
  font-family: Oswald;
}
dialog a {
  /* font-size: calc(1.5rem + 1vw); */
  font-family: Oswald;
  font-style: italic;
  visibility: hidden;
}
dialog input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 4rem;
  width: 30rem;
  text-align: center;
}
dialog input[type="radio"] {
  height: calc(1.5rem + 0.8vw);
  width: calc(1.5rem + 0.8vw);
  margin: 5px;
}
label{
height: 100%;
}
dialog button {
  border-radius: 10px;
  padding: 0 1rem;
  /* font-size: calc(1rem + 0.8vw); */
}
dialog button:hover {
  background-color: var(--highlighted);
}
#saveSeries {

  visibility: hidden;
}
#filmingComplete{
  visibility: hidden;
}
form > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* font sizes for dialog (easier to group like this) */
dialog h2 {
  font-size: calc(3rem + 1vw);
}
dialog form {
  font-size: calc(1.5rem + 0.8vw);
}
dialog a {
  font-size: calc(1.5rem + 1vw);
}
dialog button {
  font-size: calc(1rem + 0.8vw);
}
/* plus the radio buttons */